@model WildPay.Models.Entities.Category

@{
    ViewData["Title"] = "Ajouter une Categorie";
}


<div class="col-md-4 m-auto">

    <a asp-action="ListGroupCategories" asp-controller="Category" asp-route-Id="@Model.GroupId">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <h3>Nouvelle catégorie</h3>
    <hr/>
    <form method="post">
        <input class="form-control" type="text" asp-for="GroupId" readonly hidden />

        <div class="form-floating mb-3">
            <input class="form-control" type="text" asp-for="Name" placeholder="Nom de la catégorie" required />
            <label class="control-label" asp-for="Name">Nom de la catégorie</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button class="w-100 btn btn-lg main-button" asp-action="AddCategory" asp-controller="Category">Créer</button>
    </form>
</div>
