@using WildPay.Models.Entities
@model WildPay.Models.Entities.Group

@{
    ViewData["Title"] = "Catégories " + Model.Name;
}

<div>
    <partial name="_GroupTitlePartial" model="Model" />
    <hr />
    <div class="row">
        <partial name="_GroupNavBarPartial" model="Model" />
        <div class="col-md-9">
            <section>
                <p>Les catégories peuvent être ajoutées aux dépenses du groupe afin d'apporter plus de clarté. Elles ne sont pas obligatoires et peuvent être gérées par les membres du groupe depuis cette page.</p>

                <div class="card">

                    <div class="card-body">
                        <h3><a class="btn btn-outline-success material-symbols-outlined" asp-action="AddCategory" asp-controller="Category" asp-route-Id=@Model.Id>add</a> Catégories :</h3>
                        @if (Model is not null && Model.Categories.Count != 0)
                        {
                            foreach (Category category in Model.Categories)
                            {
                                <hr />
                                <h5 class="card-title"><a class="group-settings-button material-symbols-outlined" asp-action="Update" asp-controller="Category" asp-route-id=@Model.Id>edit</a> @category.Name</h5>
                                <a class="btn btn-outline-danger material-symbols-outlined" asp-action="DeleteCategory" asp-controller="Category" asp-route-Id=@category.Id>delete</a>
                            }
                        }
                        else
                        {
                            <p class="card-text">Ce groupe ne contient aucune catégorie.</p>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>