@model WildPay.Models.Entities.Group

<h2 class="d-inline-flex gap-3 align-items-center justify-content-center">
    <partial name="_BackButtonPartial" />
    
    Groupe : @Model.Name
    <a class="group-settings-button material-symbols-outlined" asp-action="UpdateGroup" asp-controller="Group" asp-route-id=@Model.Id>edit</a>
</h2>