@model WildPay.Models.Entities.Group
@{
    var action = ViewData["ReturnPageAction"] as string;
    var controller = ViewData["ReturnPageController"] as string;
    var id = ViewData["ReturnId"];
}

<h2>
    <a asp-action="@action" asp-controller="@controller" asp-route-Id="@id"><span class="material-symbols-outlined">arrow_back</span></a>
    Groupe : @Model.Name
    <a class="group-settings-button material-symbols-outlined" asp-action="UpdateGroup" asp-controller="Group" asp-route-id=@Model.Id>edit</a>
</h2>