@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;

    string? imageUrl = (string)ViewData["imageUrl"];
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Choisissez votre nom d'utilisateur'." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Firstname" class="form-control" placeholder="Entrez votre prénom." />
                <label asp-for="Input.Firstname" class="form-label"></label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Lastname" class="form-control" placeholder="Entrez votre nom." />
                <label asp-for="Input.Lastname" class="form-label"></label>
                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Entrez votre numéro de téléphone." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <div class="custom-file file-form-flex">
                    <label asp-for="Input.Image" class="control-label"></label>

                    @if (imageUrl != null)
                    {
                        <img id="defaultImage" class="form-img" src="@ViewData["imageUrl"]" alt="[Photo de profil]" />
                    }

                    <img src="#" id="previewImage" class="form-img display-none" alt="Pré-visualisation de l'image choisie" />
                    <div id="fileError" class="text-danger display-none"></div>

                    <input asp-for="Input.Image" class="custom-file-input" id="customFile" accept=".jpeg, .jpg, .png" />
                </div>
                <span asp-validation-for="Input.Image" class="text-danger"></span>

                <button id="delete" class="btn btn-danger delete-button delete-margin" type="submit" asp-page-handler="DeletePicture" onclick="return confirmDelete();">
                    <span class="material-symbols-outlined">delete</span>
                    Supprimer ma photo de profil
                </button>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg main-button update-button-margin" asp-page-handler="Edit" disabled>Sauvegarder</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/imagePreview.js"></script>
    <script type="text/javascript" src="~/js/isFormDirty.js"></script>
    <script type="text/javascript" src="~/js/confirmDeletion.js"></script>
    <script type="text/javascript">
        // Initialize the image preview functionality
        // And the change detection
        window.onload = function () {
            setupImagePreview('customFile', 'previewImage', 'defaultImage', 'fileError');
            setupChangeDetection('profile-form', 'update-profile-button');
        };
    </script>
}