@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WildPay.Models.Entities
@model WildPay.Models.Entities.Expenditure
@{ 
    int idGroup = (int)ViewBag.idGroup;
    var users = ViewBag.users as List<ApplicationUser>;
}

<div>
    <form method="post">
        <input type="hidden" asp-for="GroupId" value="@idGroup"/>
        
        <label asp-for="Name">nom de la dépense</label>
        <input type="text" asp-for="Name" placeholder="ex.: piquenique"/>
        <label asp-for="Amount">valeur de la dépense</label>
        <input type="number" step="0.01" asp-for="Amount" placeholder="ex.: 40.99"/>
        <label asp-for="Date">Date</label>
        <input asp-for="Date" type="date"/>

        <label asp-for="Category">catégorie</label>
        <input asp-for="Category" type="text" placeholder="ex.: voyage"/>

        <label asp-for="Payer">Payé par</label>
        <select asp-for="PayerId" asp-items="@(new SelectList(users, "Id", "Firstname"))">
        </select>
        
        
        <button asp-action="AddExpenditure" asp-controller="Expenditure">Enregistrer</button>
    </form>
</div>