@model WildPay.Models.Entities.Expenditure

@{

}

<div>
    <h2>Voulez-vous vraiment supprimer la dépense @Model.Name ?</h2>

    <form method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="GroupId"/>
        
        <button asp-action="DeleteExpenditure" asp-controller="Expenditure" asp-route-Id="@Model.Id" class="btn btn-danger">Oui</button>

        <a class="btn btn-primary" href="@Url.ActionLink("UpdateExpenditure", "Expenditure", new {groupId = Model.GroupId, expenditureId = Model.Id})">Non</a>
    </form>
</div>