@model WildPay.Models.Entities.Group
@{
    
}
<div>
    <h2>@Model.Name</h2>
    <h3>liste de dépenses</h3>
    <table>
        
        @foreach (var expenditure in Model.Expenditures)
        {
            <tr>
                <a asp-action="Edit" asp-controller="Expenditure">
                    <td>@expenditure.Name <br/>
                    payé par @expenditure.ApplicationUser.Firstname<td>
                    <td>@expenditure.Amount</td>
                </a>

            </tr>
        }
    </table>


</div>