@{
    ViewData["Title"] = "Politique de Cookies";
}

<h2>Politique de Cookies</h2>
<p>Notre site utilise des cookies pour améliorer l'expérience utilisateur et pour les raisons suivantes :</p>

<h3>1. Cookies Essentiels</h3>
<p>Ces cookies sont nécessaires au bon fonctionnement du site. Ils permettent aux utilisateurs de se connecter, de naviguer entre les pages, et de conserver des informations entre les sessions.</p>

<h3>2. Cookies d'Authentification</h3>
<p>Ces cookies sont utilisés pour identifier les utilisateurs connectés et leur fournir un accès sécurisé à leur compte. Par exemple, le cookie est utilisé pour maintenir votre session connectée.</p>

<h3>3. Cookies de Double Authentification</h3>
<p>Nous utilisons des cookies pour se souvenir des dispositifs ayant effectué une double authentification afin de ne pas vous demander un code à chaque connexion.</p>

<h3>5. Gestion des Cookies</h3>
<p>Vous pouvez configurer votre navigateur pour refuser les cookies ou être averti lorsqu’un cookie est déposé sur votre appareil. Notez cependant que certaines fonctionnalités du site pourraient être altérées.</p>
