@{
    ViewData["Title"] = "Mentions Légales";
}
<h2>@ViewData["Title"]</h2>

<h3>1. Éditeur de l'application</h3>
<p>Nom de l'application : PiggyBox</p>
<p>Éditeurs : </p>
<ul>
    <li>Helena Miura Yamasaki</li>
    <li>Kevin Osei Yaw</li>
    <li>Nolan de Puydt</li>
    <li>Pauline Bouyssou</li>
</ul>
<p>Siège social : 8 Rue de Valenciennes, 31000 Toulouse</p>
<p>Téléphone : [Numéro de téléphone]</p>
<p>Emails :</p>
<ul>
    <li>Helena : helenamiura@gmail.com</li>
    <li>Nolan : nodepuydt@gmail.com</li>
    <li>Pauline : pauline.bouyssou1@gmail.com</li>
</ul>

<h3>2. Hébergement</h3>
<p>Hébergeur : [Nom de l'hébergeur]</p>
<p>Adresse : [Adresse de l'hébergeur]</p>
<p>Téléphone : [Numéro de téléphone de l'hébergeur]</p>
<p>Site web : [URL du site web de l'hébergeur]</p>

<h3>3. Propriété intellectuelle</h3>
<p>L’ensemble du contenu de l’application PiggyBox (textes, images, logos, etc.) est la propriété exclusive des éditeurs ou de ses partenaires. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord écrit préalable des éditeurs.</p>

<h3>4. Données personnelles</h3>
<p>Les données personnelles collectées via l’application PiggyBox sont traitées conformément à la réglementation applicable en matière de protection des données, notamment le Règlement Général sur la Protection des Données (RGPD).</p>
<p>Responsables du traitement :</p>
<ul>
    <li>Helena Miura Yamasaki</li>
    <li>Kevin Osei Yaw</li>
    <li>Nolan de Puydt</li>
    <li>Pauline Bouyssou</li>
</ul>
<p>Finalité des données : gestion des utilisateurs, gestion des dépenses</p>
<p>Droits des utilisateurs : Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au RGPD, vous disposez d’un droit d’accès, de rectification, d’opposition, de suppression et de portabilité de vos données personnelles. Pour exercer ces droits, vous pouvez contacter les éditeurs.</p>

<h3>5. Cookies</h3>
<p>L’application PiggyBox utilise des cookies pour [Décrire l'utilisation des cookies, ex : améliorer l'expérience utilisateur, réaliser des statistiques de visites, etc.]. Vous pouvez configurer votre navigateur pour refuser les cookies. Pour en savoir plus, vous pouvez consulter notre [Politique de cookies].</p>

<h3>6. Responsabilité</h3>
<p>L’éditeur ne peut être tenu responsable des dommages directs ou indirects causés au matériel de l’utilisateur lors de l’accès à l’application, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications techniques requises, soit de l’apparition d’un bug ou d’une incompatibilité.</p>

<h3>7. Droit applicable</h3>
<p>Les présentes mentions légales sont régies par le droit français. En cas de litige, et après échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.</p>

<h3>8. Contact</h3>
<p>Pour toute question relative aux présentes mentions légales ou à l’utilisation de l’application, vous pouvez nous contacter à l’adresse suivante : </p>
<ul>
    <li>Helena : helenamiura@gmail.com</li>
    <li>Nolan : nodepuydt@gmail.com</li>
    <li>Pauline : pauline.bouyssou1@gmail.com</li>
</ul>