@model WildPay.Models.ViewModels.MemberAdded

<div>
    <h3><span class="material-symbols-outlined">person_add</span> Ajouter une personne au groupe</h3>
</div>

<form method="post">
    <div class="mt-3 form-group">
        <input type="text" asp-for="@Model.GroupId" hidden="hidden" readonly />

        <div class="form-floating mb-3">
            <input class="form-control" type="email" asp-for="@Model.Email" placeholder="Email" required />
            <label class="control-label" asp-for="@Model.Email">Email</label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>

        <button class="btn btn-lg main-button" asp-action="AddMemberToGroup" asp-controller="Group">Ajouter</button>
    </div>
</form>

