@model WildPay.Models.Entities.Group
@{
    ViewData["Title"] = Model.Name;
}
<h3>Modifier groupe</h3>

<form method="post">
    <input type="text" asp-for="@Model.Id" hidden="hidden" readonly />

    <div class="mt-3 form-group">
        <label class="control-label" asp-for="@Model.Name">Nom du groupe</label>
        <input class="form-control" type="text" asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mt-3 form-group">
        <label class="control-label" asp-for="@Model.Image">Image du groupe</label>
        <input class="form-control" type="text" asp-for="Image" />
    </div>

    <button asp-action="UpdateGroup" asp-controller="Group">Enregistrer</button>
</form>