@model WildPay.Models.Entities.Group

<div>
    <h3>Nouveau groupe</h3>
    
    <form method="post">
        <label asp-for="Name">Nom</label>
        <input type="text" asp-for="Name"/>
        
        <button asp-action="AddGroup" asp-controller="Group">Enregistrer</button>
    </form>
</div>


