@model WildPay.Models.Entities.Group

@{
    ViewData["Title"] = "Supprimer " + Model.Name;
}

<h2>Voulez-vous vraiment supprimer le groupe @Model.Name ?</h2>

<form method="post">
    <button asp-action="DeleteGroup" asp-controller="Group" asp-route-Id="@Model.Id" class="btn btn-danger">Oui</button>
    <a class="btn btn-primary" href="@Url.ActionLink("UpdateGroup", "Group", new {Id = @Model.Id})">Non</a>
</form>