@model WildPay.Models.Entities.Group

@{
    ViewData["Title"] = Model.Name;
    string action = ViewBag.Action;
    
    ViewData["ReturnPageAction"] = "GetGroup";
    ViewData["ReturnPageController"] = "Group";
    ViewData["ReturnId"] = Model.Id;
}
<partial name="_GroupTitlePartial" model="Model" />
<hr />
<h3>Voulez-vous vraiment supprimer le groupe @Model.Name ?</h3>

<form method="post">
    <button asp-action="DeleteGroup" asp-controller="Group" asp-route-Id="@Model.Id" class="btn btn-danger">Oui</button>
    <a class="btn main-button" href="@Url.ActionLink(action, "Group", new {Id = @Model.Id})">Non</a>
</form>