@model WildPay.Models.Entities.Group

@{
    ViewData["Title"] = "Supprimer " + Model.Name;
}

<h2>Voulez-vous vraiment supprimer le groupe @Model.Name ?</h2>

<form method="post" asp-route-groupId=@Model.Id>
    <button asp-action="Delete" asp-controller="Group" class="btn btn-danger">Oui</button>
    <a class="btn btn-primary" href="@Url.ActionLink("Update", "Group", new {Id = @Model.Id})">Non</a>
</form>