@using WildPay.Models.Entities
@model WildPay.Models.Entities.Group

@{
    ViewData["Title"] = "Index " + Model.Name;
}

<div>
    <partial name="_GroupTitlePartial" model="Model" />
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_GroupNavBarPartial" model="Model" />
        </div>
        <div class="col-md-9">
            <section>
                @if (Model is not null)
                {
                    <div class="card">
                        <h5 class="card-header">Votre groupe :</h5>
                        <div class="card-body">
                            @if (Model.ApplicationUsers is not null && Model.ApplicationUsers.Count != 0)
                            {
                                foreach (ApplicationUser user in Model.ApplicationUsers)
                                {
                                    <hr/>
                                    <h5 class="card-title">@user.Firstname @user.Lastname</h5>
                                    <p class="card-text">@user.Email</p>
                                }
                            }
                            else
                            {
                                <p class="card-text">Ce groupe ne contient aucun membre.</p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>How did you get there?</p>
                }
                <a class="btn btn-danger d-flex justify-content-center align-items-center w-25" asp-action="Delete" asp-controller="Group" asp-route-id=@Model.Id><span class="material-symbols-outlined">delete</span> Supprimer le groupe</a>
            </section>
        </div>
    </div>
</div>