@model List<WildPay.Models.Entities.Group>

@{
    ViewData["Title"] = "Mes groupes";
}

<div class="col-md-4 m-auto">
    <h5>
        <a class="btn plus-button material-symbols-outlined" asp-action="AddGroup" asp-controller="Group">add</a> Mes groupes :
    </h5>
    <hr />

    @if (Model.Count > 0)
    {
        <div class="list-group">
            @foreach (var group in Model)
            {
                <a class="list-group-item bg-main-color-op80 list-element" href="@Url.ActionLink("GetGroup", "Group", new {Id = group.Id })">
                    @if(group.GroupImageUrl != null)
                    {
                        <img src=@group.GroupImageUrl alt="Photo de groupe" class="small-group-image" />
                    }
                    else
                    {
                        <img src="~/images/users_image.png" alt="Photo de groupe" class="small-group-image" />
                    }
                    @group.Name
                </a>
            }
        </div>
    }
    else
    {
            <p>Vous ne faites partie d'aucun groupe.</p>
            <a class="btn btn-lg main-button" asp-action="AddGroup" asp-controller="Group">Créer un groupe</a>
    }

</div>