.group-settings-button {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 50%;
}

    .group-settings-button:hover {
        transition-duration: 0.2s;
        background-color: lightgray;
        color: black;
    }
