.file-form-flex {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
}

.form-img {
    max-width: fit-content;
    max-height: auto;

    margin: 3%;
}