html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.group-settings-button {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 50%;
}

    .group-settings-button:hover {
        transition-duration: 0.2s;
        background-color: lightgray;
        color: black;
    }
