@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmation du changement d'adresse email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
