@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mot de passe oublié - confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Consultez vos mails pour réinitialiser votre mot de passe.
</p>
