@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<div class="row">
    <div class="col-md-4 m-auto">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>Entrez votre adresse email.</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg main-button">Réinitialiser</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
