@page
@model LockoutModel
@{
    ViewData["Title"] = "Compte bloqué";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ce compte est bloqué. Réessayez plus tard.</p>
</header>
