@page
@model RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<div class="col-md-4 m-auto">
    <h1>@ViewData["Title"]</h1>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true" placeholder="firstname" />
            <label asp-for="Input.Firstname"></label>
            <span asp-validation-for="Input.Firstname" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Lastname" class="form-control" autocomplete="lastname" aria-required="true" placeholder="lastname" />
            <label asp-for="Input.Lastname"></label>
            <span asp-validation-for="Input.Lastname" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <div class="custom-file">
                <label asp-for="Input.Image" class="control-label"></label>
                <input asp-for="Input.Image" class="custom-file-input" id="customFile" />
            </div>
            <span asp-validation-for="Input.Image" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg main-button">S'inscrire</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
