@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'inscription";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Cette application ne possède pas de système de confirmation du compte par email.
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
        <p>
            <a href="https://aka.ms/aspaccountconf">Configuer un email sender</a>
        </p>
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour valider votre compte</a>
        </p>

    }
    else
    {
        <p>
            Consultez vos emails pour valider votre compte.
        </p>
    }
}

