@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de la réinitialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été réinitialisé. <a asp-page="./Login">Connexion</a>
</p>
